@import url('./reset.css');
@font-face {
    font-family: 'Dancing Script';
    src: url('./fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

:root {
    font-size: 18px;
}
body {
    display: flex;
    flex-direction: row;
    /* height: 800px; */
}
header {
    font-size: 20px;
    flex-basis: 100px;
    flex-shrink: 0;
    background-color: wheat;
    padding: 5%;
}

main {
background: url('/classwork/assets/image/irbg.020.winter-snow.jpg');
background-attachment: fixed;
backdrop-filter: blur (8px);
background-blend-mode: color-dodge;
}


nav ul li {
    list-style-type: none;
}
nav ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
nav a {
    text-decoration: none;
}
section.main {
    display: flex;
    flex-direction: column;
}
section.side {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1em;
    font-family: 'Dancing Script' ;
}

@media screen and (max-width: 300px) {
        body {
            flex-direction: column;
        }

        header {
            flex-basis: 80px;
        }

        nav ul {
            flex-direction: row;
        }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
        body {
            background-color: aquamarine;
            flex-direction: column;
        }


        header {
            flex-basis: 80px;
        }
        nav ul {
            flex-direction: row;
        }
}